.wrapper {
  :global .accordion-button {
    justify-content: center;
    color: #fff;
    background-color: #158cba;
    border-color: #158cba;
    font-size: 1.25rem;
  }

  :global .accordion-button::after {
    right: 15px;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-size: 0.8rem;
    margin-left: 0;
    background-image: none;
  }
}
