@import 'bootstrap/dist/css/bootstrap.css';

.modalWrapper {
  .modalHeader,
  .modalBody,
  .modalFooter {
    background: #1f3b3f 0% 0% no-repeat padding-box;
    border: 1px solid #67c3d0;
    color: white;
  }

  .modalHeader {
    :global .close {
      color: white;
      :focus,
      :hover {
        color: white;
      }
    }
  }

  .modalFooter {
    display: flex;
    justify-content: center;
  }

  :global .modal-content {
    background: #1f3b3f 0% 0% no-repeat padding-box;
  }

  :global .rdtPicker {
    background-color: #67c3d0;
  }
}
