/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */
/*
img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
*/

body {
  padding-top: 60px;
  font-size: 0.875rem;
}

*:focus,
*:active {
  outline: 0;
}

h1,
.h1 {
  font-size: 2.1875rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.53125rem;
}

h4,
.h4 {
  font-size: 1.3125rem;
}

h5,
.h5 {
  font-size: 1.09375rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

.btn {
  font-size: 0.75rem;
}

.btn-lg,
.btn-group-lg > .btn {
  font-size: 1.09375rem;
}

.btn-sm,
.btn-group-sm > .btn {
  font-size: 0.625rem;
}
