/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */
/*
img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
*/

html {
  font-size: 14px;
}

*:focus,
*:active {
  outline: 0;
}

.btn {
  font-size: 0.75rem;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0;
  max-width: 100%;
  height: 100px;
  width: 100%;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}
// .btn-sm,
// .btn-group-sm > .btn {
//   // font-size: 0.625rem;
// }
