.navbar {
  color: 'whitesmoke';
  padding-bottom: 0;
  padding-top: 0;
  height: 66px;

  .platformTitle {
    font-size: 0.9375rem;
  }

  .logoWrapper {
    text-align: 'center';
    padding: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .brandWrapper {
    .brandText {
      margin-top: -8px;
      margin-bottom: -5px;
      padding-top: 0px;
      font-size: 0.8rem;
    }
  }
}

.content {
  padding-top: 66px;
}
